<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WiiTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WiiTracker.Properties.Settings>
            <setting name="WiiTracker_com_cdyne_ws_PhoneNotify" serializeAs="String">
                <value>http://ws.cdyne.com/NotifyWS/phonenotify.asmx</value>
            </setting>
        </WiiTracker.Properties.Settings>
    </applicationSettings>
  <appSettings>
    <add key="smtpServer" value="smtp.1and1.com" />
    <add key="smtpPort" value="587" />
    <add key="smtpUsername" value="m39589484-1" />
    <add key="smtpPassword" value="3biokpor" />
    <add key="email" value="matt.long@matthew-long.com" />
    <add key="numberToDial" value="7194590480" />
    <add key="numberFrom" value="7192669313" />
    <add key="callerIdName" value="Matt Long" />
    <add key="smsPhoneNumber" value="7194590480" />
    <add key="smsCarrier" value="Verizon" />
    <add key="checkFrequency" value="10000" />
  </appSettings>
</configuration>